.produto-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color:#f9fafb;
  min-height: calc(100vh - 80px);
}

.produto-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #e5e7eb;
}

.produto-image-container {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.produto-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 1rem;
}

.produto-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.produto-title {
  font-size: 2rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 0.5rem;
}

.produto-descricao,
.produto-tamanho,
.produto-cor {
  font-size: 1.5rem;
  color: #2a2a2b;
  margin: 0;
}

.produto-preco-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.produto-preco {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2563eb;
}

.produto-botao {
  padding: 0.75rem 1.5rem;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: var(--radius);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.produto-botao:hover {
  background-color: #07971f;
  transform: translateY(-2px);
}

.produto-not-found {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #6b7280;
}


.tamanho-selecionado {
  font-size: 1,5rem;
  color: #2a2a2b;
  margin: 0;
  padding: 2px;
  margin-top: 8px;
  
  font-weight: 500;
}

.tamanho-badge {
  margin: 3px;
  background-color: #e0e7ff;
  color: #1e3a8a;
  padding: 6px 12px;
  border: none; 
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tamanho-badge:hover {
  background-color: #c7d2fe;
}

.tamanho-badge.ativo {
  background-color: #0ba590;
  color: #fff;
}




/* Responsividade */
@media (min-width: 768px) {
  .produto-card {
    flex-direction: row;
  }

  .produto-image-container {
    width: 50%;
    aspect-ratio: auto;
    min-height: 400px;
  }

  .produto-info {
    width: 50%;
    padding: 2rem;
    justify-content: center;
  }

  .produto-preco-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .produto-botao {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .produto-info {
    padding: 3rem;
  }

  .produto-title {
    font-size: 2.4rem;
  }
}
