.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Tablet */
@media (max-width: 992px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Celular */
@media (max-width: 576px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.card-title {
    margin-top: 10px;
    font-size: 1.2rem;
}

.card-description {
    font-size: 1rem;
    color: #666;
}